.navbar{
    display: flex;
    /* background-color: rgb(218, 28, 28); */
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.title{
    display: flex;
    margin-left: 15%;
    font-weight: 900;
}

.nav{
    display: flex;
    width: 50%;
}

.nav button{
    background-color: transparent;
    border: none;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.nav button:hover{
    background-color:rgb(224, 224, 224);
    height: 50px;
}